.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  padding: 0;
  margin-right: 180px;
  border: 0;
  outline: none;
  cursor: pointer;
}

@include _1156 {
  .btn-close {
    margin-right: 20px;
  }
}

@include _706 {
  .btn-close {
    position: absolute;
    top: 290px;
    left: 400px;
  }
}

@include _536 {
  .btn-close {
    top: 235px;
    left: 242px;
    margin-right: 0;
  }
}

.btn-close::before,
.btn-close::after  {
  position: absolute;
  content: "";
  width: 5px;
  height: 24px;
  background-color: #000000;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}
