.catalog {
  position: relative;
  min-height: 800px;
  background-color: #f3f3f3;
  padding-bottom: 35px;
}

@include _1036 {
  .catalog {
    width: 740px;
  }
}

@include _876 {
  .catalog {
    width: 680px;
  }
}

@include _736 {
  .catalog {
    width: 650px;
  }
}

@include _706 {
  .catalog {
    width: 480px;
  }
}

@include _636 {
  .catalog {
    width: 280px;
  }
}

.catalog--inner {
  width: 750px;
  display: block;
}

.catalog h2 {
  position: absolute;
  font-family: "CadillacSansBook", "Arial", sans-serif;
  font-size: 42px;
  color: #000000;
  background-color: #f3f3f3;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  top: -35px;
  left: 230px;
}

@include _736 {
  .catalog h2 {
    font-size: 34px;
    left: calc(50% - 381px / 2);
  }
}

@include _636 {
  .catalog h2 {
    text-align: left;
  }
}

@include _536 {
  .catalog h2 {
    width: 180px;
    top: -70px;
    left: 0;
  }
}

@include _356 {
  .catalog h2 {
    width: 155px;
    font-size: 30px;
  }
}

.catalog__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

@include _916 {
  .catalog__list {
    width: 100%;
  }
}

.catalog li {
  position: relative;
  width: 320px;
  min-height: 400px;
  margin-bottom: 20px;
}

@include _736 {
  .catalog li {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.catalog img {
  width: 95%;
  height: auto;
}

.catalog__item p {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.catalog span {
  display: block;
  font-family: "CadillacSansSemiBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.catalog__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.catalog__price {
  margin-bottom: 30px;
}

.catalog__price p {
  display: flex;
  font-family: "CadillacSansSemiBold", "Arial", sans-serif;
  font-size: 34px;
  line-height: 30px;
  color: #f54327;
  margin-top: 5px;
  margin-bottom: 0;
}

.catalog__price sup  {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-left: 10px;
}

.catalog__price sub  {
  display: block;
  font-size: 13px;
  margin-left: 10px;
  margin-top: -10px;
}

.catalog__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
}

.catalog__btn {
  width: 70px;
  text-align: center;
  margin-left: 50px;
  text-decoration: none;
}

.catalog__btn-next {
  margin: 0 auto;
}

.catalog__item:hover .card {
  display: block;
}
