.content-inner {
  position: relative;
  width: 750px;
}

@include _1256 {
  .content-inner {
    width: 650px;
  }
}

@include _1156 {
  .content-inner {
    width: 530px;
  }
}

@include _1036 {
  .content-inner {
    width: 370px;
  }
}

@include _876 {
  .content-inner {
    width: 628px;
  }
}

@include _706 {
  .content-inner {
    width: 428px;
  }
}

@include _636 {
  .content-inner {
    width: 368px;
  }
}

@include _536 {
  .content-inner {
    width: 280px;
  }
}

.content-inner--product {
  width: 100%;
}

.content-inner--contact {

}

.content-inner--catalog {
  width: 780px;
  margin-left: 93px;
}

@include _1256 {
  .content-inner--catalog {
    width: 700px;
    margin-left: 80px;
  }
}

@include _1156 {
  .content-inner--catalog {
    width: 100%;
    margin-left: 0;
  }
}

@include _876 {
  .content-inner--product {
    margin-left: 0;
  }
}

.content-inner h3 {
  font-family: inherit;
  font-size: 34px;
  color: #f54327;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 38px;
}

.content-inner--product h3 {
  margin-top: 35px;
  margin-bottom: 0;
}

@include _876 {
  .content-inner h3 {
    margin-top: 30px;
  }
}

@include _536 {
  .content-inner h3 {
    font-size: 30px;
  }
}

@include _1156 {
  .content-inner--catalog h3 {
    margin-top: 30px;
  }
}

.content-inner h3::before {
  display: inline-block;
  content: "";
  width: 39px;
  height: 17px;
  background-image: url("../img/brick-icon.png");
  background-repeat: no-repeat;
  margin-left: -52px;
  margin-right: 10px;
}

.content-inner h3::before {
  margin-left: 0;
}

.content-inner p {
  font-family: inherit;
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 26px;
}

.content-inner__explain img {
  width: 100%;
  height: auto;
  margin-bottom: 53px;
}

.content-inner__explain a {
  color: #000000;
}

.content-inner__explain li {
  font-family: inherit;
  font-size: 16px;
  color: #000000;
  margin: 0;
  list-style-type: disc;
}
