.description {
  flex-direction: column;
  width: 754px;
  margin-left: 450px;
}

@include _1156 {
  .description {
    width: 100%;
    margin-left: 0;
  }
}

.description h4 {
  font-family: inherit;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.description p {
  margin-bottom: 25px;
}
