.sidebar {
  width: 310px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 93px;
}

@include _876 {
  .sidebar {
    margin-right: 0;
  }
}

@include _536 {
  .sidebar {
    width: 100%;
  }
}


.sidebar li {
  font-family: inherit;
  font-size: 25px;
  margin-bottom: 32px;
}

.sidebar--catalog {
  margin-bottom: 30px;
  margin-right: 140px;
}

@include _1156 {
  .sidebar--catalog {
    margin-right: 80px;
  }
}

@include _1016 {
  .sidebar--catalog {
   width: 100%;
  }
}

.sidebar--catalog li {
  margin-bottom: 30px;
}

.sidebar a {
  color: #000000;
}

a.sidebar__link-active  {
  color: #f54327;
  text-decoration: none;
}

ul.sidebar__items {
  margin-top: 23px;
  margin-bottom: 40px;
}

.sidebar__items li {
  position: relative;
  font-size: 16px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.sidebar__items li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000000;
  top: 30%;
  left: -15px;
}

