.slider-brick {
  position: relative;
  width: 415px;
  height: 250px;
  overflow: hidden;
  margin-top: 47px;
}

@include _876 {
  .slider-brick {
    margin: 0 auto;
  }
}

@include _536 {
  .slider-brick {
    width: 280px;
    height: auto;
  }
}

.slider-brick__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-brick__item {
  align-items: center;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

.slider-brick img {
  position: relative;
}



/* Кнопки вперед и назад */


.slider-brick__toggle {
  position: absolute;
  width: 40px;
  height: 53px;
  top: 30%;
  font-size: 42px;
  transition: 0.6s ease;
  opacity: 0.5;
  cursor: pointer;
}

@include _536 {
  .slider-brick__toggle {
    top: 35%;
  }
}

.slider-brick__toggle--prev {
  background-image: url("../img/arrow_left.svg");
  background-repeat: no-repeat;
}

.slider-brick__toggle--next {
  background-image: url("../img/arrow_right.svg");
  background-repeat: no-repeat;
  left: 398px;
}

@include _536 {
  .slider-brick__toggle--next {
    left: 263px;
  }
}
