@font-face {
  font-family: "CadillacSansLight";
  src: url("../fonts/CadillacSansWeb-Light.woff2") format("woff2");
  src: url("../fonts/CadillacSansWeb-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansBook";
  src: url("../fonts/CadillacSansWeb-Book.woff2") format("woff2");
  src: url("../fonts/CadillacSansWeb-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansMedium";
  src: url("../fonts/CadillacSansWeb-Medium.woff2") format("woff2");
  src: url("../fonts/CadillacSansWeb-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansSemiBold";
  src: url("../fonts/CadillacSansWeb-SemiBold.woff2") format("woff2");
  src: url("../fonts/CadillacSansWeb-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cadillac-icons";
  src: url("../fonts/cadillac-icons.woff2") format("woff2");
  src: url("../fonts/cadillac-icons.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Glyph-icons";
  src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2");
  src: url("../fonts/glyphicons-halflings-regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
